In [0]:
#65

In [0]:
###  Please write assert statements to verify that
### every number in the list [2,4,6,8] is even.

In [0]:
li = [2,4,6,10]
#li = [1,2,4,6,7,10]

for i in li :
  assert i%2 == 0 , "{} is not even number ".format(i)
# if any odd number then o/p will come like this first odd
# in that case -->  End of program line will not execute

# AssertionError: 1 is not even number
print("End of Program")

In [0]:
#66

In [0]:
### Please write a program which accepts basic mathematic expression 
### from console and print the evaluation result.

In [0]:
expression = "35 + 45"
result = eval(expression)
print(expression , " = " , result)

In [0]:
#67

In [0]:
### Please write a binary search function which searches 
### an item in a sorted list. The function should return 
### the index of element to be searched in the list.

In [0]:
import math 
def binary_search(sorted_array, item_to_search):

  lower = 0
  high = len(sorted_array)
  count = 0

  while (lower < high ):
    
    if count >= math.sqrt(len(sorted_array)):
      return -1
    count += 1
    
    mid = (lower + high) //2
    if sorted_array[mid]== item_to_search:
      return mid
    if sorted_array[mid] > item_to_search:
      high = mid
    if sorted_array[mid] < item_to_search :
      lower = mid

  return -1  

print("Start ")
sorted_array = [1,5,8,10,12,13,55,66,73,78,82,85,88,99]
print('The Value Found at Index:',binary_search(sorted_array, 55))

# if postion is -1 , that means element not found

In [0]:
### Please generate a random float where 
### the value is between 10 and 100 using Python module.

In [0]:
import random
print(random.random()*100)
print(random.uniform(10,100))

In [0]:
### Please generate a random float where the value 
### is between 5 and 95 using Python module.

In [0]:
import random
print(random.random()*100  - 5)
print(random.uniform(5,95))

In [0]:
### Please write a program to output a random even number
### between 0 and 10 inclusive using random module 
### and list comprehension.

In [0]:
li = [0,2,4,6,8,10]

li = [i for i in range (0,11,2) ]
print(random.choice(li))

In [0]:
### Please write a program to output a random number, 
### which is divisible by 5 and 7, between 10 and 150 
### inclusive using random module and list comprehension.

In [0]:
li = [i for i in range (10,151) if i%5 == 0 and i%7 == 0]
print(random.choice(li))

In [0]:
### Please write a program to generate a list 
### with 5 random numbers between 100 and 200 inclusive.

In [0]:
import random 
li = random.sample(range(10,201),5)
print(li)

In [0]:
### Please write a program to randomly generate a list
### with 5 even numbers between 100 and 200 inclusive.

In [0]:
import random
li = [i for i in range (100,200) if i%2 == 0]
ans = random.sample(li,5)
print(ans)

In [0]:
### Please write a program to 
### randomly generate a list with 5 numbers,
### which are divisible by 5 and 7 , 
### between 1 and 1000 inclusive.

In [0]:
import random 
li = [i for i in range(1,1001)   if i%5 == 0 and i%7 == 0]
print(random.sample(li,5))

In [0]:
### Please write a program to randomly print 
### a integer number between 7 and 15 inclusive.

In [0]:
import random 
print(random.choice(range( 7,16)))
print(random.randrange(7,16))

In [0]:
### Please write a program to compress and decompress the string 
### "hello world!hello world!hello world!hello world!".

In [0]:
import zlib 
string = "hello world!hello world!hello world!hello world!"   
compressed_string = zlib.compress(string.encode())                    
print(compressed_string)                                
print(zlib.decompress(compressed_string).decode())

# Note : you can decompress only byte string 
# in simple word --> string in format   b " ---- " known as byte string
# for more go to this link  https://docs.python.org/3/library/zlib.html

In [0]:
### Please write a program to print the
### running time of execution of "1+1" for 100 times.

In [0]:
import time
import datetime
before_execution_time= time.time()
for i in range(100):
  sum = 1+1
after_execution_time = time.time()
running_time = before_execution_time - after_execution_time
print(running_time)

In [0]:
### Please write a program to shuffle and 
### print the list [3,6,7,8].

In [0]:
import random 
li = [3,6,7,8]
seed = 1
random.Random(seed).shuffle(li)
print(li)

In [0]:
### Please write a program to generate all sentences where 
### subject is in ["I", "You"] and verb is in ["Play", "Love"] 
### and  the object is in ["Hockey","Football"].

In [0]:
subjects = ["I", "You"]
verbs    = ["Play", "Love"] 
objects    = ["Hockey","Football"]


for subject in subjects :
  for verb in verbs :
    for object in objects :
      print(subject," ",verb, " ", object)

print("###############END####################")

In [0]:
### Please write a program to print the list 
### after removing even numbers in [5,6,77,45,22,12,24]

In [0]:
li = [5,6,77,45,22,12,24]
li = [i for i in li if i%2 != 0]
print(li)

In [0]:
def removingEvenNumber(n):
  return n%2 != 0

li =  [5,6,77,45,22,12,24]
n =    list(filter(removingEvenNumber, li))
print(n)

In [0]:
 li = [5,6,77,45,22,12,24]
 li =   list(filter(lambda n : n%2 != 0, li ))
 print(li)

In [0]:
### By using list comprehension, please write a program 
### to print the list after removing numbers which 
### are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [0]:
li = [12,24,35,70,88,120,155]
li = [x for x in li if x % 35!=0]
print(li)

In [0]:
### By using list comprehension, please write a program to 
### print the list after removing the 0th, 2nd, 4th,6th 
### numbers in [12,24,35,70,88,120,155].

In [0]:
li = [12,24,35,70,88,120,155]
li = [ li[i]    for i in range(len(li))    if i%2 !=0]
print(li)

In [0]:
### By using list comprehension, please write a program 
### to print the list after removing the 2nd - 4th numbers
### in [12,24,35,70,88,120,155].

In [0]:
li = [12,24,35,70,88,120,155]
li = [  li[i]   for i in range(len(li))    if i <2 or i>4   ]

print(li)

In [0]:
### By using list comprehension, please write a program 
### generate a 3*5*8 3D array whose each element is 0.

In [0]:
li = [ [[ 0 for i in range (8) ]   for j in range(5) ]  for k in range(3)]
print(li)

In [0]:
##############  Day21

In [0]:
### By using list comprehension, please write a program to 
### print the list after removing the 0th,4th,5th numbers 
### in [12,24,35,70,88,120,155].

In [0]:
li = [12,24,35,70,88,120,155]
li = [li[i]  for i in range(len(li)) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

In [0]:
### By using list comprehension, please write a program to
### print the list after removing the value 24
### in [12,35,24,88,120,155].

In [0]:
li = [12,35,24,88,120,155]
li.remove(24)
print(li)

# or 
li = [12,35,24,88,120,155]
li = [i  for i in li if i != 24]
print(li)

In [0]:
### With two given lists [1,3,6,78,35,55] and 
### [12,24,35,24,88,120,155], write a program to make a list
### whose elements are intersection of the above given lists.

In [0]:
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,88,120,155]
set1= set(list1)
set2= set(list2)
res = set.intersection(set1,set2)
print(res)

In [0]:
### With a given list [12,24,35,24,88,120,155,88,120,155], 
### write a program to print this list after removing all 
### duplicate values with original order reserved.

In [0]:
li = [12,24,35,24,88,120,155,88,120,155]
for i in li :
  if li.count(i) > 1 :
    li.remove(i)

print(li)

In [0]:
### Define a class Person and its two child classes: Male and Female.
### All classes have a method "getGender" which can print
###  "Male" for Male class and "Female" for Female class.

In [0]:
class Person(object):
    def getGender( self ):
        return "Unknown"

class Male( Person ):
    def getGender( self ):
        return "Male"

class Female( Person ):
    def getGender( self ):
        return "Female"

aMale = Male()
aFemale= Female()
print (aMale.getGender())
print (aFemale.getGender())

Male
Female

In [0]:
### Please write a program which count and print 
### the numbers of each character in a string input by console.

In [0]:
s = input()
for letter in range(ord('a'),ord('z')+1):    # ord() gets the ascii value of a char
    letter = chr(letter)                     # chr() gets the char of an ascii value
    cnt = s.count(letter)
    if cnt > 0:
        print("{},{}".format(letter,cnt))

In [0]:
### Please write a program which accepts a string 
### from console and print it in reverse order.

In [0]:
s = input()
s = ''.join(reversed(s))
print(s)

In [0]:
### Please write a program which accepts a string
### from console and print the characters that have even indexes.

In [0]:
s = "H1e2l3l4o5w6o7r8l9d"
ns =''
for i in range(len(s)):
    if i % 2 == 0:
        ns+=s[i]
print(ns)

In [0]:
### Please write a program which prints all permutations of [1,2,3]

In [0]:
import itertools
print (list(itertools.permutations([1,2,3])))

In [0]:
### Write a program to solve a classic ancient Chinese puzzle: 
### We count 35 heads and 94 legs among the chickens and rabbits 
### in a farm. How many rabbits and how many chickens do we have?

In [0]:
def solve(numheads,numlegs):
    ns='No solutions!'
    for i in range(numheads+1):
        j=numheads-i
        if 2*i+4*j==numlegs:
            return i,j
    return ns,ns

numheads=35
numlegs=94
solutions=solve(numheads,numlegs)
print (solutions)

In [0]:
### Given the participants' score sheet for your University Sports Day,
### you are required to find the runner-up score. You are given scores.
###  Store them in a list and find the score of the runner-up.

In [0]:
'''
Solution by: mishrasunny-coder
'''
num = int(input("Enter num: "))
L = []

while True:
    L.append(num)
    num = int(input("Enter another: "))
    if num == 0:
        break

L1 = list(set(L[:]))
L2 = sorted(L1)
print(L2)

print(f'The runner up is {L2[-2]}')

In [0]:
### You are given a string S and width W. 
### Your task is to wrap the string into a paragraph of width.

In [0]:

'''Solution by: mishrasunny-coder
'''
import textwrap

string = input()
width = int(input())

print(textwrap.fill(string,width))

In [0]:
##You are given an integer, N. Your task is to print
### an alphabet rangoli of size N. (Rangoli is a form of 
### Indian folk art based on creation of patterns.)

In [0]:
import string
def print_rangoli(size):
    n = size
    alph = string.ascii_lowercase
    width = 4 * n - 3

    ans = []
    for i in range(n):
        left = '-'.join(alph[n - i - 1:n])
        mid = left[-1:0:-1] + left
        final = mid.center(width, '-')
        ans.append(final)

    if len(ans) > 1:
        for i in ans[n - 2::-1]:
            ans.append(i)
    ans = '\n'.join(ans)
    print(ans)


if __name__ == '__main__':
    n = int(input())
    print_rangoli(n)

In [0]:
### You are given a date. Your task is to find what the day is on that day
# 08 05 2015

In [0]:
import calendar

month, day, year = map(int, input().split())

dayId = calendar.weekday(year, month, day)
print(calendar.day_name[dayId].upper())

In [0]:
### Given 2 sets of integers, M and N, print their symmetric difference 
### in ascending order. The term symmetric difference indicates those
### values that exist in either M or N but do not exist in both.

#4
##2 4 5 9
#4
##2 4 11 12

In [0]:
if __name__ == '__main__':
    n = int(input())
    set1 = set(map(int,input().split()))

    m = int(input())
    set2 = set(map(int, input().split()))

    ans = list(set1 ^ set2)
    ans.sort()
    for i in ans:
        print(i)

In [0]:
### You are given words. Some words may repeat. For each word, 
### output its number of occurrences. The output order should correspond 
### with the input order of appearance of the word.
### See the sample input/output for clarification.

#If the following string is given as input to the program:

#4
#bcdef
#abcdefg
#bcde
#bcdef


#Then, the output of the program should be:

#3
#2 1 1

In [0]:
n = int(input())

word_list = []
word_dict = {}

for i in range(n):
    word = input()
    if word not in word_dict:
        word_list.append(word)
    word_dict[word] = word_dict.get(word, 0) + 1

print(len(word_list))
for word in word_list:
    print(word_dict[word], end=' ')

In [0]:
### You are given a string.Your task is to count the frequency of letters of the
### string and print the letters in descending order of frequency.

### If the following string is given as input to the program:

### aabbbccde
### Then, the output of the program should be:

#b 3
#a 2
#c 2
#d 1
#e 1

In [0]:
'''Solution by: StartZer0'''

s = list(input())

dict_count_ = {k:s.count(k) for k in s}
list_of_tuples = [(k,v) for k,v in dict_count_.items()]
list_of_tuples.sort(key = lambda x: x[1], reverse = True)

for item in list_of_tuples:
  print(item[0], item[1])

In [0]:
### Write a Python program that accepts a string and 
### calculate the number of digits and letters.
# Hello321Bye360

In [0]:
word = input()
digit,letter = 0,0
for char in word:
    digit += int(char.isdigit())
    letter += int(char.isalpha())

print('Digit -',digit)
print('Letter -',letter)

Hello321Bye360
Digit - 6
Letter - 8

In [0]:
### Given a number N.Find Sum of 1 to N Using Recursion

In [0]:
def rec(n):
    if n <= 0:
        return n
    return rec(n-1) + n


n = int(input())
sum = rec(n)
print(sum)