In [0]:
### The Fibonacci Sequence is computed based on the following formula:

### f(n)=0 if n=0
### f(n)=1 if n=1
### f(n)=f(n-1)+f(n-2) if n>1

In [0]:
# Example: If the following n is given as input to the program:

# 7
# Then, the output of the program should be:

# 0,1,1,2,3,5,8,13

In [0]:
def f(n):
    if n == 0 or n == 1: 
      return n
    return f(n-1)+f(n-2)

n=int(input())
values = [str(f(x)) for x in range(0, n+1)]
print (",".join(values))

In [0]:
### Please write a program using generator to print the even numbers
### between 0 and n in comma separated form while n is input by console.

In [0]:
def generator(n) :
  for i in range(n):
    if i%2 == 0:
      yield i



n = int(input("Enter value of n , an integer  : "))
for i in generator(n+1):
  print(i, end = ", ")

In [0]:
### Please write a program
### using generator to print the numbers which can be divisible by 5 and 7 
### between 0 and n in comma separated form while n is input by console.

In [0]:
def generator(n):
  for i in range(n):
    if i%35 ==0 :
      yield i

n = int(input("Enter value of n , integer :  "))

result = [str(i) for i in generator(n)]
print(",".join(result))

In [0]:
#f(n)=f(n-1)+100 when n>0
#and f(0)=0

In [0]:
def f(n):
  if n == 0:
    return 0
  return f(n-1) +100

n = int(input("Enter number :  "))

print(f(n))

In [0]:
#The Fibonacci Sequence is computed based on the following formula:

#f(n)=0 if n=0
#f(n)=1 if n=1
#f(n)=f(n-1)+f(n-2) if n>1



#Please write a program to compute the value of f(n) with a given n input by console.

#Example: If the following n is given as input to the program:

#7
#Then, the output of the program should be:

#13

In [0]:
def f(n):
  if n == 0 or n == 1:
    return n
  return f(n-1) + f(n-2)

n = int(input("Enter number  :  "))
print(f(n))

In [0]:
### Assuming that we have some email addresses in the
###  "username@companyname.com" format, please write program to
###   print the company name of a given email address. Both user names 
###   and company names are composed of letters only.

### Example: If the following email address is given as input to the program:

### john@google.com
### Then, the output of the program should be:

### google

In [0]:
import re 

email = "john@google.com elise@python.com"

pattern = "\w+@(\w+).com"

result = re.findall(pattern, email)
print(result)

In [0]:
### Write a program which accepts a sequence of words separated
### by whitespace as input to print the words composed of digits only.

### Example: If the following words is given as input to the program:

### 2 cats and 3 dogs.
### Then, the output of the program should be:

### ['2', '3']

In [0]:
import re
n = input("sequence of words separated by white space :  ")
pattern = "\d+"    

result = re.findall(pattern , n)
print(result)

In [0]:
### Print a unicode string "hello world".

In [0]:
a = u"hello world"
print(a)

In [0]:
### Write a program to read an ASCII string 
### and to convert it to a unicode string encoded by utf-8.

#i/p
### !\"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~
#o/p   -->>  notice \\ changed to \\\\ 
### b'!\\"#$%&\\\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\\\]^_`abcdefghijklmnopqrstuvwxyz{|}~'

In [0]:
n = input()

n = n.encode('utf-8')

print(n)

In [0]:

# Write a special comment to indicate a Python source code file is in unicode.

In [0]:
# -*- coding : utf-8 --*--
print("# -*- coding : utf-8 --*--")

In [0]:
### Write a program to compute 1/2+2/3+3/4+...+n/n+1 
### with a given n input by console (n>0).

### Example: If the following n is given as input to the program:

#5
#Then, the output of the program should be:

#3.55

In [0]:
def compute(n):
  result = float()
  for i in range(1,n+1):
    result += i/(i+1)
  return round(result,2)

n = int(input("Please enter number :  "))
print(compute(n))

In [0]:
### Assuming that we have some email addresses in the 
### "username@companyname.com" format, please write program to
### print the user name of a given email address. Both user names and 
### company names are composed of letters only.

### Example: If the following email address is given as input to the program:

### john@google.com
### Then, the output of the program should be:

### john

In [0]:
import re
n = input()

pattern = "(\w+)@\w+.com"

result = re.findall(pattern, n)
print(result)

In [0]:
### Write a function to compute 5/0 and use try/except to catch the exceptions.

In [0]:
def divide():
  return 5/0



try:
  divide()

except ZeroDivisionError as ze :
  print("You should not divide number by zero  ")
except:   # It(default) should be in last other wise error
  print("Some error came  ")

In [0]:
### Define a custom exception class which takes a string message as attribute

In [0]:
class myException(Exception):

  '''
  Exception raised for custom purpose

    Attributes:
        message -- explanation of the error
  '''
  def __init__(self,msg):
    self.msg = msg


n = int(input("Enter number : "))
try:
  if n< 10 :
    raise myException("Input is less than 10")
  if n>=10:
    raise myException("Input greater or equal than 10 ")

except myException as mE:
  print("error raised by me :   ", mE.msg)
except:
  print("Some other error might have occured ")
     
print(myException.__doc__)

In [0]:
### Please raise a RuntimeError exception

In [0]:
raise RuntimeError('something wrong')

In [0]:
### Define a class named Shape and its subclass Square.
### The Square class has an init function which takes a length as argument. 
### Both classes have a area function which can print the area of 
### the shape where Shape's area is 0 by default.

In [0]:
class Shape():
  def __init(self):
    pass
  def area(self):
    return 0

class Square(Shape):
  def __init__(self, length = 0):
    Shape.__init__(self)
    self.length = length
  def area(self):
    return self.length **2 

Asqr = Square(5)
print(Asqr.area())      # prints 25 as given argument

print(Square().area())  # prints zero as default area

In [0]:
### Define a class named Circle which can be constructed by a radius. 
### The Circle class has a method which can compute the area.

In [0]:
class Circle():
  def __init__(self,r = None):
    self.radius = r

  def area(self):
    return 3.14 * self.radius * self.radius


c = Circle(5)
print(c.area())

In [0]:
### Define a class named Rectangle which can be constructed by a length and width. 
### The Rectangle class has a method which can compute the area.

In [0]:
class Rectangle():
  def __init__(self,l= None,w = None):
    self.length = l
    self.width  = w
  def area(self):
    return self.length * self.width 

r = Rectangle(4,5)
print(r.area())

In [0]:
### Write a program which can map() to make a list whose elements are
### square of numbers between 1 and 20 (both included).

In [0]:
def squre(n):
  return n*n 

lst = list(map(squre, range(1,21)))
print(lst)

# using lambda 
lst2 = list(map(lambda x : x*x , range(1,21)))
print(lst2)

In [0]:
### Define a class named American which has a static method called printNationality.

In [0]:
class American():
    @staticmethod
    def printNationality():
        print("I am American")

american = American()
american.printNationality()   # this will not run if @staticmethod does not decorates the function.
                              # Because the class has no instance.

American.printNationality()   # this will run even though the @staticmethod
                              # does not decorate printNationality()

In [0]:
### Define a class named American and its subclass NewYorker

In [0]:
class American():
    pass

class NewYorker(American):
    pass

american = American()
newyorker = NewYorker()

print(american)
print(newyorker)

In [0]:
### With a given tuple (1,2,3,4,5,6,7,8,9,10),
### write a program to print the first half values in one line 
### and the last half values in one line.

In [0]:
t = (1,2,3,4,5,6,7,8,9,10)
print(t[0:len(t)//2])  # len(t)/2 can give float value so we are using //
print(t[len(t)//2 : ])  # [:] by default in left it is 0 & in right maxm length

In [0]:
### Write a program to generate and 
### print another tuple whose values are even numbers
### in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [0]:
t =  (1,2,3,4,5,6,7,8,9,10)

print("####### method 1 ########")
t2 = tuple(i for i in t if int(i)%2==0 )
print(t2)

print("####### Method 2 ########")
t3 = tuple(filter(lambda x : int(x)%2 ==0 , t))
print(t3)

####### method 1 ########
(2, 4, 6, 8, 10)
####### Method 2 ########
(2, 4, 6, 8, 10)

In [0]:
### Write a program which accepts a string as input 
### to print "Yes" if the string is "yes" or "YES" or "Yes", 
### otherwise print "No".

In [0]:
n = input("Enter string : ")
result = "".join(["Yes" if n == 'yes' or n =='YES' or n =='Yes' else 'No'])
print(result)

In [0]:
### Write a program which can map() to make a list 
### whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [0]:
n = [1,2,3,4,5,6,7,8,9,10]
n = list(map(lambda x : x**2 , n)) # without list() it will object
print(n)     # Object won't be iterable #will print <map object at ...

In [0]:
### Write a program which can filter() to make a list 
### whose elements are even number between 
### 1 and 20 (both included).

In [0]:
n = list(filter (lambda x : int(x)%2 ==0 , range(1,21)))
print(n)

print("######### method 2 ########")

def even(n):
  return n%2 ==0 

evennumbers = filter(even, range(1,21))
print(list(evennumbers))

In [0]:
### Define a function which can print a dictionary 
### where the keys are numbers between 1 and 20 (both included)
### and the values are square of keys.

In [0]:
def f_dic():
  d = {i : int(i) ** 2  for i in range (1,21)}
  print(d)

f_dic()

In [0]:
### Define a function which can generate a dictionary 
### where the keys are numbers
### between 1 and 20 (both included)
###  and the values are square of keys.
###   The function should just print the keys only

In [0]:
def printDictionary():
  d = dict()
  for i in range(1,21):
    d[i] = i*i
  print(d.keys())
 # print(d.values())  # if you want to print values


printDictionary()

In [0]:
### Define a function which can generate 
### and print a list where the values are 
### square of numbers between 1 and 20 (both included).

In [0]:
def printList():
  print([i*i  for i in range(1,21)])
printList()

In [0]:
### Define a function which can generate a list where the values are
### square of numbers between 1 and 20 (both included). 
### Then the function needs to print the first 5 elements in the list.

In [0]:
def printList():
  print(list([i*i  for i in range(1,21)])[:5])
printList()

fun = lambda : print([i**2 for i in range(1,21)] [0:5])
fun()

In [0]:
### Define a function which can generate a list where the values are 
### square of numbers between 1 and 20 (both included). 
### Then the function needs to print the last 5 elements in the list.

In [0]:
fun = lambda : print([i**2  for i in range(1,21)][-5:])
fun()

[256, 289, 324, 361, 400]

In [0]:
### Define a function which can generate a list 
### where the values are square of numbers 
### between 1 and 20 (both included).
### Then the function needs to print all values 
### except the first 5 elements in the list.

In [0]:
fun = lambda : print([i**2    for i in range(1,21)][5:])
fun()

In [0]:
### Define a function which can generate and 
### print a tuple where the value are square of numbers
### between 1 and 20 (both included).

In [0]:
fun = lambda : print(tuple(i**2    for i  in range(1,21)))
fun()

In [0]:
### Define a function which can compute the sum of two numbers.

In [0]:
def add(n1,n2):
  return int(n1) + int(n2)

print(add(5,10))

In [0]:
### Define a function that can convert a integer into a string and print it in console.

In [0]:
def convert_int_str(n):
  n = str(n)
  print("Type of n after converted    ", type(n))
  print(n)


n = 5
print("Type of n before converted   ", type(n))
convert_int_str(n)

In [0]:
### Define a function that can receive two integer numbers
### in string form and compute their sum and then print it in console.

In [0]:
con = lambda n1,n2 : print(int(n1)+ int(n2))

con(str(5), str(6))

In [0]:
### Define a function that can accept two strings 
### as input and concatenate them and then print it in console

In [0]:
sum = lambda s1, s2 : s1+s2
print(sum("101", "201"))

In [0]:
### Define a function that can accept two strings
### as input and print the string with maximum length in console. 
### If two strings have the same length, 
### then the function should print all strings line by line.

In [0]:
fun = lambda s1, s2 : print(max((s1,s2), key = len))  if len(s1) != len(s2) else print(s1,"\n",s2) 

func(input("Enter 1st str :  "), input("Enter 2nd str :  "))

In [0]:
import zlib
s = b'hello world!hello world!hello world!hello world!'
t = zlib.compress(s)
print (t)
print (zlib.decompress(t))