In [0]:
#######    Square of a number   ################
def square(n) :
  return n ** 2

print(square(int(input("Enter number  :  "))))

In [0]:
###   Get words splitted by space & print the word in sorted with occurance of each #####

In [0]:
## Method 1   Counter give items & freq like dictionary 

from collections import Counter 

ss =  sorted (Counter(input("Enter words sep by space ").split() ) .items())
                  # Counter split like dic with item & freq  0 items & 1 as values

for i in ss :
  print(i[0], "   :   ", i[1])

In [0]:
## Method 2    using pprint 

from pprint import pprint

ss = input("Enter words sep by space :  ").split()

pprint({i : ss.count(i)   for i in ss})

In [0]:
###  how _ _ doc _ _ function work   

print(str.__doc__)
print("\n\n")


print("My Own doc function   \n\n")

def pow_doc(n):
     ''' 
     Power function multiply with same number 
     and return the value
     if you use pow_doc. _ _ doc _ _  then you will get this message 
     ''' 
     return n**2 

print(pow_doc(5))
print()
print(pow_doc.__doc__)

In [0]:
#### Define a class, which have a class parameter & have a same instance parameter.

#### Define an instance parameter, need add it in __init__ method.
#### You can init an object with construct parameter or set the value later



class Car :
  name = "car"

  def __init__ (self, name = None):
    self.name = name 


honda = Car("Honda")

print("%s name is  %s  " %(Car.name , honda.name ))

toyota =  Car()    # till now default name is 'car'

toyota.name =  "Toyota"    # name changed 

print("%s name is   %s   " %(Car.name, toyota.name) )

In [0]:
####   Define a class with a generator which can iterate the numbers, 
####   which are divisible by 7, between a given range 0 and n.

class Anything :

  def div_by_7 (self, n ):

    for number in range(n+1):
      if number % 7 == 0:
        yield number


anything =  Anything()

generator = anything.div_by_7(int(input("Enter integer number -->  ")))

print(generator )  #  See the difference ,  it is not list by default 

for i in generator :
  print(i)          # But You can iterate 



# When u converted it into list by using -->  list()   function 
generator =list(anything.div_by_7(int(input("Enter integer number -->  "))))
print(generator )

In [0]:
### A robot moves in a plane starting from the original point (0,0).
### The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
### The trace of robot movement is shown as the following:
#UP 5
#DOWN 3
#LEFT 3
#RIGHT 2

# Then, the output of the program should be: 2 

import math 

x,y = 0,0 
while True :
  move = input("Enter Dir and steps sep by space  : ").split()
  if not move :
    break

  if move[0] == "UP" :
    x += int(move[1])
  if move[0] == "DOWN" :
    x -= int(move[1])


  if move[0] == "LEFT":
    y -= int(move[1])
  if move[0] == "Down":
    y += int(move[1])


print("Robot Travelled  ", round(math.sqrt(x ** 2 + y **2)))

In [0]:
### A website requires the users to input username and password to register.
###  Write a program to check the validity of password input by users.

In [0]:
###Following are the criteria for checking the password:

#At least 1 letter between [a-z]
#At least 1 number between [0-9]
#At least 1 letter between [A-Z]
#At least 1 character from [$#@]
#Minimum length of transaction password: 6
#Maximum length of transaction password: 12
#Your program should accept a sequence of comma separated passwords and
#will check them according to the above criteria. 
#Passwords that match the criteria are to be printed, each separated by a comma.

In [0]:
### If the following passwords are given as input to the program:
# ABd1234@1,a F1#,2w3E*,2We3345

### Then, the output of the program should be:
# ABd1234@1

In [0]:
import re 

s = input("Enter pass sep by  ','  :   ").split(",")

lst = []

for i in s :
  cnt = 0
  cnt += (6<= len(i) and len(i) <= 12 )
  cnt += bool(re.search("[a-z]",i))     # here re module includes a function re.search() which returns the object information
  cnt += bool(re.search("[A-Z]",i))  # of where the pattern string i is matched with any of the [a-z]/[A-z]/[0=9]/[@#$] characters
  cnt += bool(re.search("[1-9]",i))     # if not a single match found then returns NONE which converts to False in boolean
  cnt += bool(re.search("[@ # $]",i))      # expression otherwise True if found any.

  if cnt == 5 :
    lst.append(i)
    

print(lst)

In [0]:
### You are required to write a program to sort the (name, age, score) 
### tuples by ascending order where name is string, age and score are numbers.
### The tuples are input by console. The sort criteria is:

### 1: Sort based on name
### 2: Then sort based on age
### 3: Then sort by score



#If the following tuples are given as input to the program:
#Tom,19,80
#John,20,90
#Jony,17,91
#Jony,17,93
#Json,21,85

###Then, the output of the program should be:

### [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [0]:
lst = []
while True :
  s = input("Enter name,age,marks --> ").split(",")
  if not s[0]:
    break
  lst.append(tuple(s))

lst.sort(key = lambda x : (x[0],x[1],x[2]))
## here key is defined by lambda and the data is sorted by element priority 0>1>2 in accending order

print(lst)

In [0]:
### Use a list comprehension to square each odd number in a list. 
### The list is input by a sequence of comma-separated numbers. 
### Suppose the following input is supplied to the program:

In [0]:
lst = list(map(int,input("Enter int num sep by ','  ").split(",")))

lst = [i**2 for i in lst if i%2 !=0 ]

print(lst)

In [0]:
### Write a program that computes the net amount of a bank account
### based a transaction log from console input. 
### The transaction log format is shown as following:

### D means deposit while W means withdrawal.
### D 100
### W 200
### D 500
### then o/p should be 400

In [0]:
D,W = 0,0
total = 0
while True :
  s = input("Enter D or W followed by money (Integer)  : ").split()
  if not s :
    break
  if s[0] == "D":
    total += int(s[1])
  if s[0] == "W":
    total -= int(s[1])


print(total)

In [0]:
### Write a program that accepts a sentence and calculate 
### the number of upper case letters and lower case letters.

In [0]:
sen = input()
UpCase = 0
LoCase = 0
for i in sen :
  if i.isupper() == True:
    UpCase += 1
  if i.islower() == True :
    LoCase += 1


print("Upper case is : {0} \nLower case is : {1}".format(UpCase, LoCase))

In [0]:
### Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

In [0]:
# method 1
a = input("Enter number : ")

a = int(a)  +   int(str(a) * 2) +   int(str(a) * 3) + int(str(a) * 4) 

print(a)

In [0]:
#Method 2 
a = input("Enter number : ")

total, tmp = 0, str()

for i in range(4):
  tmp += a
  total += int(tmp)

print(total)

In [0]:
### Write a program that accepts a sequence of whitespace separated words
### as input and prints the words after removing 
###  all duplicate words and sorting them alphanumerically.

### Suppose input is this 

### hello world and practice makes perfect and hello world again
### o/p should be 
### again and hello makes perfect practice world

In [0]:
#Method 1

n = sorted(list(set(input().split())))

print(" ".join(n))

In [0]:
# Method 2

word = input().split()

[word.remove(i)    for i in word if word.count(i) > 1 ]

word.sort()

print(" ".join(word))

In [0]:
# Write a program that accepts a sentence and calculate the number of letters and digits.

In [0]:
sentence = input()
alpha, digit = 0,0
for i in sentence :
  if i.isalpha() == True :
    alpha += 1
  if i.isdigit() == True :
    digit += 1

print("Alpha letter is :  {0}\nDigit is\t:  {1}".format(alpha, digit))

In [0]:
### Write a program which will find all such numbers which are divisible by 7
### but are not a multiple of 5, between 2000 and 3200 (both included).
### The numbers obtained should be printed in a 
### comma-separated sequence on a single line.

In [0]:
for i in range (2000,3001):
  if i%7 == 0 and i % 5 != 0 :
    print(i, end = ",")

In [0]:
### Write a program which can compute the factorial of a given numbers.
### The results should be printed in a
### comma-separated sequence on a single line.
### Suppose the following input is supplied to the program: 8
###  Then, the output should be:40320

In [0]:
def fact(n):
  if n <=1 and n>=0:
    return 1
  return n * fact(n-1)
print(fact(int(input("please enter integer value :  "))))

In [0]:
###With a given integral number n, 
###write a program to generate a dictionary that contains (i, i x i)
### such that is an integral number between 1 and n (both included).
###  and then the program should print the dictionary.

###  Suppose the following input is supplied to the program: 8

### Then, the output should be:

### {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [0]:
n = int(input("Please enter number : "))
result = {i : i*i for i in range (1,n+1)}
print (result)

In [0]:
### get input sep by ","  and make it list & then tuple and print it

In [0]:
n = input("input please sep by ','   :   ").split(",")
print(n)
print(tuple(n))

In [0]:
### Define a class which has at least two methods:

### getString: to get a string from console input
### printString: to print the string in upper case.
### Also please include simple test function to test the class methods.

In [0]:
class IOString:
  def __init__(self):
    pass
  def getString(self) :
    self.s = input("input as string please : ")
  def printString(self):
    print(self.s)
  


a = IOString()
a.getString()
a.printString()

In [0]:
### Write a program that accepts sequence of lines as input 
### and prints the lines after making all characters in the sentence capitalized.

In [0]:
lst = []
while True :
  n = input()
  if not n :
    break
  lst.append(n.upper())

for sentence in lst :
  print(sentence)

In [0]:
### Write a program that accepts a comma separated sequence of words 
### as input and prints the words in a comma-separated sequence 
### after sorting them alphabetically.

In [0]:
n = input("enter words sep by ',' : ").split(",")
# print(n.sort()) will sort n but return None
#n.sort()  
#print(n)   # This will work
print(sorted(n))

In [0]:
###Write a program which takes 2 digits, X,Y as input 
###and generates a 2-dimensional array. The element value in
### the i-th row and j-th column of the array should be i * j.

### Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs 
###are given to the program: 3,5

###Then, the output of the program should be:

### [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [0]:
X,Y = map(int, input("Please enter 2 digit for X & Y sep by comma : ").split(","))

result = [[i*j  for j in range (Y)]     for i in range(X)]
print(result)

In [0]:
###Write a program that calculates and prints 
### the value according to the given formula:

### Q = Square root of [(2 * C * D)/H]

### Following are the fixed values of C and H:

### C is 50. H is 30.

### D is the variable whose values should be input to your program
### in a comma-separated sequence.For example Let us assume the following
###  comma separated input sequence is given to the program:

### 100,150,180
### The output of the program should be:

### 18,22,24

In [0]:
from math import *
C, H = 50, 30

def calc (D) :
    return round (sqrt (  (2 * C * D )/H  ))

D = list(map (int, input().split(',') ))
lst = []
for i in D :
  lst.append(calc(i))
print(lst)

# If you understood above line then merge them in one line like below 

#  print(",".join([str(int(calc(int(i)))) for i in input().split(',')]))