<a href="https://colab.research.google.com/github/mkssmanish/python-programs/blob/master/Numpy_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
###  what is Numpy ???

### Numpy = >  Num  +   Py 

### Num stands for numerical value , Py stands for python 

### Which do numerical & sceientific opertaion 

###Array in Numpy is a table of elements (usually numbers), all of the same type

### Interview Question

### What is difference b/w numpy array & list

#### List can take element of diff type but not numpy array  #####

In [0]:
import numpy as np

In [0]:
# creating a rank 1 array 

arr = np.array([1,2,3])
arr

In [0]:
# creating a rank 2 array 

arr = np.array([      [1,2,3]  ,   [4,5,6]    ])
arr

In [0]:
# creating an array from a tuple 

arr = np.array((10,20,30))

arr

In [0]:
########       Accessing the Array Index       #############
import numpy as np
# Initial Array  4*4

arr = np.array( [ [-1,2,0,4],   [4,-0.5,6,0]  ,  [2.6,0,7,8],   [3,-7,4,2.0]   ]  )

print("Initial Array   : \n\n", arr)

sliced_arr  = arr[:2 , ::2]  

### Array with first 2 rows and alternate columns 0,2,4,6,8... but here 0 2

print("\n\nSliced array  :\n ",sliced_arr)

In [0]:
# printing element @ specific indices 

index_arr = arr [[1,1,0,3],[3,2,1,0]]
  #it will print elements of (1,3) , (1,2),(0,1), (3,0)
index_arr

In [0]:
# Basic Array operation 

a = np.array([[1,2],[3,4]])

b = np.array([[4,3],[2,1]])

### Adding 1 to every elements 

a = a+1
print("\n Array b , after subtracting 2 from each elements  \n:",a)

### Subtracting 2 from every elements of B
b = b-2
print("\n Array b , after subtracting 2 from each elements  \n:",b)

### Sum of all array elements  of "a"
Sum = sum(a)
print("\n\nSum of elements of Array a :   ", Sum)


### Adding two arrays
print("Addition of Arrays ... is an array .. a+b  :\n\n",  a+b)

In [0]:
### Data Types object ---> provide info regarding layout of array :: dtype 

x = np.array([1,2])
print(x.dtype)

x = np.array([1.333, 2.342])
print(x.dtype)

# Forced data type  , by default 64 but I converted here in 32 

x = np.array([1,2], dtype = np.int32 )
print(x.dtype)

In [0]:
### Math operational in Data Type Array
### Operator overload & as function

arr1 = np.array([[4,7],[2,6]], dtype = np.float64)

arr2 = np.array([[11,22],[33,44]], dtype = np.float64)

arr3 = arr1 + arr2 

print("Adding two array by simple method  '+'   : \n"  , arr3)

# Now by function add

arr3 = np.array(arr1 + arr2)
print("\nAdding two array by numpy method  'np.add()'   : \n"  , arr3)

In [34]:
### Squre root of aar3
print(np.sqrt(arr3))

[[3.87298335 5.38516481]
 [5.91607978 7.07106781]]

In [33]:
### transpose of matrix using  dot T method

print(arr3.T)

[[15. 35.]
 [29. 50.]]